:root {
    --main-color: #000000ba
}

* {
    box-sizing: border-box;
    font-family: 'Itim', cursive;

}

body {
    background-image: url("images/design-space-paper-textured-background.jpg");
    background-size: cover;
    overflow: hidden;
}

body::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.149);
    position: absolute;
    z-index: -1;
}


/*start preloading page */
#preloader {
    background-color: var(--main-color);
    height: 100vh;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.preloader-circles {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid transparent;
    position: absolute;
    animation: loadingcircle 5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midlle-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-bottom: 5px solid white;
    border-top: 5px solid red;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    animation: loadingcircle 5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid white;
    position: absolute;
    animation: loadingcircle 1s linear infinite reverse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-div {
    position: absolute;
    color: white;
    animation: hoooof 1s ease-in-out infinite alternate;
    font-size: 30px;
    text-align: center;
    /* animation-play-state: paused; */
}



@keyframes loadingcircle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes hoooof {
    0% {
        font-size: 30px;
    }

    100% {
        font-size: 50px;
    }
}

/* end preloading page*/
/* Dashboard */
.optionmenuimg {
    width: 800px;
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    transition: 1.1s;
}

.startingDiv img {
    z-index: -1;
}

.startingDiv h3 {
    text-align: center;
    width: 400px;
    position: absolute;
    left: -10%;
    top: 40%;
    transform: translate(-50%, -50%) rotate(90deg);
    font-size: 50px;
    color: var(--main-color);
    transition: 1s;
}

.startGame {
    width: 400px;
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    transition: 1s;
}

.startingDiv h3:hover+.startGame {
    width: 500px;
}

.startingDiv h3:hover {
    letter-spacing: 20px;
    font-size: 45px;
    cursor: pointer;
}

/* optionmenu table styles */
table {
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s linear;
}

table td {
    padding: 15px;
    transition: 0.3s;
}

table td:hover {
    font-size: 35px;
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
}

/* alphabets suggestions */
.Alphbets {
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(-50%, 17px) rotate(180deg);
    width: 550px;
    z-index: 6;
    transition: 0.5s;
}

.buttonchoices {
    position: absolute;
    width: 800px;
    z-index: 5;
    left: 100%;
    top: -100%;
    transform: rotate(45deg);
    transition: 0.5s;
}

/* Timer Stylyzing */
#timer {
    /* background-color: var(--main-color); */
    height: 100px;
    width: 100px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.timer-circles {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-outer-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid transparent;
    position: absolute;
    animation: loadingcircle 5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-middle-circle {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border-bottom: 5px solid white;
    border-top: 5px solid red;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    animation: loadingcircle 5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-inner-circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid white;
    position: absolute;
    animation: loadingcircle 1s linear infinite reverse;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer .counter-div {
    position: absolute;
    color: red;
    animation: hof 1s ease-in-out infinite alternate;
    font-size: 10px;
    text-align: center;
    /* animation-play-state: paused; */
}

@keyframes hof {
    0% {
        font-size: 10px;
    }

    100% {
        font-size: 30px;
    }
}